{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container is-max-desktop"> 
          
          <div class="section smooth-edge card card--border form--card has-background-warning">
            <h1 class="title is-2">{% trans "Sign In" %}</h1>
            <p class="subtitle is-5">
              {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
            <form class="login form form--top-divider" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="button secondaryAction is-light" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button class="primaryAction button is-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
        </div>

      </div>
    </div>
{% endblock content %}
