:root {
    --bulma-dark: hsl(0, 0%, 21%);
    /** Font variables **/
    --dm-sans: "DM Sans", sans-serif;
    --roboto: "Roboto", sans-serif;
}
* {
    font-family: var(--dm-sans);
}

/** Default Font Styling **/
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--roboto) !important;
    font-weight: bold;
}

/* Changes the format of the bold letters added by summernotes */
p b span {
    font-family: var(--roboto) !important;
    font-weight: bold;
}

/* general body font style*/
content p,
p, span,
ul, li,
label {
    font-family: var(--dm-sans) !important;
    font-weight: 300;
}

/* Grid-container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-auto-rows: minmax(100px, auto); /* Dynamic row height */
    gap: 1.5rem;
}

/* Media Queries for Tablet */
@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column */
        gap: 1rem;
    }
}

/* override - Bulma*/
.card {
    border: 1px solid var(--bulma-dark);
}

.navbar {
    position: sticky;
    top: 0;
}

.title {
    font-family: var(--roboto);
}

/* Custom style */
.smooth-edge {
    border-radius: 16px;
}

form div {
    margin-bottom: 1rem;
}

form div label {
    font-size: 1.3rem;
}

form div input {
    width: 15rem;
    height: 2rem;
    border: solid 1px var(--bulma-dark);
    border-radius: 16px;
    padding: 1em;
}

form input[type=checkbox] {
    width: 2rem;
    height: 1rem;
    border: solid 1px darkgray;
    border-radius: 16px;
    padding: 1em;
}