{% extends "base.html" %} 
{% block content %}
{% load static %}
	<!-- Hero Image -->
	<section class="hero is-warning is-halfheight delimiter">
		<div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
			<div class="hero-body">
				<div class="container has-text-centered">
					<p class="title is-1 has-text-dark">
					Jhoan Codes
					</p>
					<p class="subtitle is-4">
					Hey! Welcome to my blog!
					</p>
				</div>
			</div>
			<img 
				src="{% static 'img/index_hero_image.png' %}" 
				alt="Image of Jhoan Trujillo weating a hoodie and smiling"
				width="820px"
				class="index-image"
			>
		</div>
	  </section>
	<!-- Context -->

	<!-- Paginated list of blog post -->
	<section class="section is-medium">
		<div class="container">
			<H2 class="title is-2">Blog post</H2>
			<div class="grid-container">
				{% for post in post_list %}
					<div class="card">
						<div class="card-content">	
							<p class="title is-4 has-background-warning" 
							style="padding: 1rem 1.5rem 1rem 0;"
							>
								<a href="{% url 'post_view' post.slug %}"
								class="has-text-dark">
									{{ post.title }}
								</a>
							</p>
							<div class="content">{{ post.excerpt }}</div>
						</div>
						<footer class="card-footer">
							<span class="card-footer-item">
								Author: {{ post.author }}</span>
							</span>
							<span class="card-footer-item">{{ post.created_on }}</span>
						</footer>
					</div>
				{% endfor %}
			</div>
		</div>
		<!-- Pagination -->
		{% if is_paginated %}
			<div class="section">
				<nav class="pagination is-centered" role="navigation" aria-label="pagination">
					{% if page_obj.has_previous %}
						<a class="pagination-previous" aria-label="Go to previous page" href="?page={{ page_obj.previous_page_number }}">
							Previous
						</a>
					{% endif %}
					{% if page_obj.has_next %}
						<a class="pagination-next" aria-label="Go to next page" href="?page={{ page_obj.next_page_number }}">
							Next page
						</a>
					{% endif %}
				</nav>
			</div>
		{% endif %}
	</section>

{% endblock content %}
