{% extends "base.html" %} 
{% block content %}
{% load static %}
	
	<section class="section">
		<div class="container">
			<div class="content">
				<h2 class="title is-2">Blog post</h2>
				<p class="subtitle">
					Here you can find a list with all my blog post. I hope you enjoy them. 
				</p>
			</div>
		</div>
	</section>

	<!-- Paginated list of blog post -->
	<section class="section">
		<div class="container">
			<div class="grid-container">
				{% for post in post_list %}
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								{% if "placeholder" in post.featured_image.url %}
								<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								{% else %}
								<img src="{{ post.featured_image.url }}" width="960" alt="Placeholder image">
								{% endif %}
							</figure>
						</div>
						<div class="card-content">	
							<h1 class="title is-4 has-background-warning" 
							style="padding: 1rem 1.5rem 1rem 0;"
							>
								<a href="{% url 'post_view' post.slug %}"
								class="has-text-dark">
									{{ post.title }}
								</a>
							</h1>
							<div class="content" style="min-height:15rem;">{{ post.excerpt }}</div>
						</div>
						<footer class="card-footer">
							<span class="card-footer-item">
								Author: {{ post.author }}
							</span>
							<span class="card-footer-item">{{ post.created_on }}</span>
						</footer>
					</div>
				{% endfor %}
			</div>
		</div>
		<!-- Pagination -->
		{% if is_paginated %}
			<div class="section">
				<nav class="pagination is-centered" role="navigation" aria-label="pagination">
					{% if page_obj.has_previous %}
						<a class="pagination-previous" aria-label="Go to previous page" href="?page={{ page_obj.previous_page_number }}">
							Previous
						</a>
					{% endif %}
					{% if page_obj.has_next %}
						<a class="pagination-next" aria-label="Go to next page" href="?page={{ page_obj.next_page_number }}">
							Next page
						</a>
					{% endif %}
				</nav>
			</div>
		{% endif %}
	</section>
{% endblock content %}
