{% extends "base.html" %} {% block content %}
{% load static %}
	<!-- Content header-->
	<section class="hero section has-background-warning">
		<div class="container">
			<div class="hero-body">
				<div class="tile is-ancestor is-12">	
					<div class="tile is-6 is-flex is-flex-direction-column is-justify-content-center">
						<h1 class="title post-title">{{ post.title }}</h1>
						<p><b>Author: {{ author }}</b></p>
						<p><b>Created on: {{ post.created_on }}</b></p>
					</div>
					<div class="tile is-6">
						<img 
						src="{% static 'img/default.jpg' %}" 
						alt="Computer screen displaying html, css, and js code"
						width="640px"
						class="smooth-edge"
						>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Content starts here -->
	<section class="section">
		<div class="container">
			<div class="content">
				{{ post.content | safe }}
			</div>
		</div>
	</section>
{% endblock content %}