<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jhoan Codes - Post list</title>

	 <!-- Compiled and minified CSS -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	 <!-- Compiled and minified JavaScript -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
			 
</head>

<body>
    <h1>Posts list</h1>
	<div class="row">
		{% for post in object_list %}
		<div class="col s3 m6">
		  <div class="card blue-grey darken-1 hoverable">
			<div class="card-content white-text">
			  <span class="card-title">{{post.title}}</span>
			  <p>{{post.excerpt}}</p>
			</div>
			<div class="card-action">
			  <a href="#">Author: {{ post.author}}</a>
			</div>
		  </div>
		</div>
		{% endfor %}
	  </div>
</body>

</html>