{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
{% load static%}
{% load crispy_forms_tags %}

<section class="hero is-warning is-fullheight">
	<div class="hero-body">
		<div class="m-auto">
			<p class="title">
				Profile
			</p>
			<div class="card">
				<div class="card-image">
				<figure class="image is-4by3">
					{% if "placeholder" in profile.image.url %}
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					{% else %}
						<img src="{{ profile.image.url }}"
						alt="profile picture of {{ user.username }}">
					{% endif %}
				</figure>
				</div>
				<div class="card-content">
					<div class="media">
						<div class="media-content">
							<p class="subtitle is-4 has-text-dark">Username:</p>
							<p class="title is-4 has-text-dark">{{ profile.user }}</p>
						</div>
					</div>
				{% if profile.user_id == request.user.id %}
					<div class="content bio-box">
						<form id="ProfileForm"  method="post">
							{{ bio_form | crispy }}
							{% csrf_token %}
							<div class="level-item level-left mt-5">
								<button class="button is-info" 
								data-user-id="{{ profile.user_id }}"
								data-profile-id="{{ profile.id }}" 
								id="submitButton"
								>
								Update
								</button>
							</div>
							<input type="hidden" data-profile-bio="{{ profile.bio }}">
						</form>
					</div>
				{% else %}
					<div class="content bio-box">
						<textarea class="textarea bio-box has-background-light" disabled>{{ profile.bio }}</textarea>
					</div>
				{% endif%}
				</div>
			</div>
		</div>
	</div>
  </section>

{% endblock content %}


{% block extras %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
