{% load static %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Jhoan Codes</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <!-- Bulma css - Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <!-- custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
	
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" aria-label="link to home page" href="{% url 'home'%}">
                    <img
                        src="/static/img/small_logo.png"
                        width="112"
                        height="28"
                    />
                </a>

                <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="generalNavBar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" aria-label="link to home page" href="{% url 'home'%}"> Home </a>
                    <a class="navbar-item"aria-label="link to blog posts" href="{% url 'blog_list' %}"> Blog </a>
                    <a class="navbar-item" aria-label="link to about page" href="#"> About </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}
                                <div class="mr-5">
                                    <a class="is-link has-text-dark" href="{% url 'users-profile' %}">
                                        <b>Hey, {{ user.username }}!</b>
                                    </a>
                                </div>
                                <a href="{% url 'account_logout' %}" class="button is-light"> Log Out </a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="button is-primary">
                                    <strong>Sign up</strong>
                                </a>
                                <a href="{% url 'account_login' %}" class="button is-light"> Sign In</a>
                            {% endif%}
                            
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main>{% block content %} {% endblock content %}</main>

        <!-- Footer Section-->
        <footer class="footer">
            <div class="content has-text-centered">
                <p style="color: black">
                    {% block copyright%}
                    <strong>Jhoan Codes</strong> by
                    <a href="https://github.com/jhoanTrujillo">Jhoan Trujillo</a>. 
					&#169;Copyrights 2024. {% endblock copyright %}
                </p>
            </div>
        </footer>

        <!-- Add JS references below -->
        <script src="https://kit.fontawesome.com/dd3b9a0c61.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% block extras %}
        {% endblock %}
    </body>
</html>
