:root {
	/** Colors **/
    --bg-color: #171010;
    --bg-color2: #2B2B2B;
	--fg-color: #f2f2f2;
    --accent: #f96d00;
    
	/** Font variables **/
	--dm-sans:'DM Sans', sans-serif;
	--roboto: 'Roboto', sans-serif;
}

.bg-color {
    background: var(--bg-color);
}

.bg-color2 {
    background: var(--bg-color2);
}

.accent {
    background: var(--accent);
}

.fg-color {
    background: var(--fg-color);
}

/* Default Grid Styles */
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columns */
	grid-auto-rows: minmax(100px, auto); /* Dynamic row height */
	gap: 1.5rem;
}
  
/* Media Queries for Tablet */
@media screen and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr); /* 2 columns */
	}
}
  
/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr; /* Single column */
		gap: 1rem;
	}
}